* {
    padding: 0;
    margin: 0;
}

header * {
    all: unset;
}

header {
    display: flex;
    background-color: rgb(253, 78, 78);
    padding: 25px;
}

.navbar-name {
    color: white;
    font-size: 25px;
}

.nav-links {
    display: flex;
    color: white;
    font-size: 20px;
    margin-left: 50px;
    gap: 40px;
}

#searchbar {
    text-decoration: ;
}

button {
    display: flex;
    border: 1px white solid;
    padding: 10px 25px;
    color: white;
    margin-left: auto;
}

svg {
    display: flex;
    width: 20px;
    color: white;
}

.ham-menu {

}